<p> single post </p>
<hr>
<h1><%= @blog.title %></h1>
<h4>by <%= @blog.user.email %> on <%= @blog.date %></h4>
<p><%= @blog.body %></p>
<hr>
<% @blog.comments.each do |comment| %>
<p><%= comment.user.email %> says: </p>
<p><%= comment.body %></p>
<% end %>
<hr>
<%= link_to "Post a Comment", blog_path(@blog) %>
<%= link_to "Back to All Posts", blogs_path %>
